			
																						p {
																						}
																	
																																			h1 {
																						}
																	
																																			h2 {
																						}
																	
																																			h3 {
																						}
																	
																																			h4 {
																						}
																	
																																			h5 {
																						}
																	
																																			h6 {
																						}
																	
																																			.about-headline {
																background-color: #ffffff; font-family: 'Roboto'; font-size: 23px; font-style: normal; font-weight: 100; letter-spacing: 2px; margin-top: 174px; margin-bottom: 315px; padding-left: 11px; padding-right: 11px; 						}
																	
																																			.about-text {
																font-family: 'Roboto'; font-size: 22px; font-style: normal; font-weight: 100; margin-top: 125px; margin-bottom: 125px; 						}
																	
																																			.home-headline {
																color: #71ade1; font-family: 'Roboto'; font-size: 100px; font-style: normal; font-weight: 400; letter-spacing: 6px; line-height: 0.8; margin-top: 151px; 						}
																	
																																			.home-making {
																color: #4c4c4c; font-family: 'Roboto'; font-size: 37px; font-style: normal; font-weight: 100; 						}
																	
																																			.home-our {
																color: #8bc3ed; font-family: 'Roboto'; font-size: 35px; font-style: normal; font-weight: 300; line-height: 0.8; margin-top: 44px; 						}
																	
																																			.home-sub {
																color: #515151; font-family: 'Roboto'; font-size: 19px; font-style: normal; font-weight: 300; line-height: 0.8; margin-bottom: 37px; 						}
																	
																																			.home-we {
																color: #898989; font-family: 'Roboto'; font-style: normal; font-weight: 300; line-height: 0.8; 						}
																	
																																			.our-text {
																color: #727272; font-family: 'Roboto'; font-size: 28px; font-style: normal; font-weight: 100; letter-spacing: 2px; margin-top: 111px; margin-bottom: 111px; 						}
																	
																																			.services-headline {
																color: #5e5e5e; font-family: 'Roboto'; font-size: 42px; font-style: normal; font-weight: 100; margin-top: 18px; 						}
																	
																			
																